
/* Banner */

.banner {
    width: 100%;
    height: 100vh;
    background-image: url('../resources/images/banner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: aqua;
    align-items: center;
    text-align: start;
}

.banner-card {
    text-align: center;
    align-items: center;
    padding: 2%;
    background: transparent;
    justify-content: center;
}

.button-contact {
    width: 150px;
    color: white;
    height: 40px;
    font-weight: bolder;
    background-color: #645124;
    text-align: center;
}
/* ------------------------------------------------ */

/* Section */
.section {
    margin-top: 4%;
    justify-content: center;
    align-items: center;
}

.section p {
    color: grey;
}

.section-card {
    width: 70%;
    padding: 3%;
    margin: 2%;
    justify-content: center;
    align-items: center;
    height: auto;
}

/* -------------------------------------------------- */

/* Counter */

.counter-global {
    font-size: 60px;
    height: 400px;
    align-items: center;
    color: #645124;
    font-weight: bold;
}

.empty {
    height: 100px;
}

/* --------------------------------------------------- */

/* Fixed background */

.div-fixed {
    margin-top: 5%;
}


.fixed-background {
    width: 100%;
    height: 400px;
    background-image: url('../resources/images/image4.jpg');
    background-position: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

/* Services */

.services{
	background-color: #eeeeee;
	min-height: 100vh;
    margin: 6% 0%;
	width: 100%;
	float: left;
	padding:100px 0;
}

.container{
	max-width: 1170px;
	margin: auto;
}
.services .heading{
	margin-bottom: 60px;
	width: 100%;
	float: left;
}
.services .heading h1{
  text-align: center;
  font-size: 40px;
  color:#000000;
  margin:0;
}

.services .content{
	float: left;
	width: 100%;
}
.services .content .box{
	width: 33.33%;
	float: left;
	padding:15px;
}
.services .content .box .inner{
	padding:30px;
	text-align: center;
	position: relative;
}

.services .content .box .inner::before{
	content: '';
	position: absolute;
	left:0;
	bottom:0;
	width:0;
	box-sizing: border-box;
	height: 0;
	border-bottom:3px solid transparent;
	border-left: 3px solid transparent;
	transition: all .8s ease;
}
.services .content .box .inner::after{
	content: '';
	position: absolute;
	right:0;
	top:0;
	width:0;
	box-sizing: border-box;
	height:0;
	border-top:3px solid transparent;
	border-right: 3px solid transparent;
	transition: all .8s ease;
}
.services .content .box:hover .inner::after,
.services .content .box:hover .inner::before{
   border-color: #645124;
   width: 100%;
   height: 100%;
}
.services .content .box .inner .icon{
	font-size:50px;
	color:#000;
	transition: color .8s ease;
}
.services .content .box:hover .inner .icon{
	color:#645124;
}
.services .content .box .inner h3{
	font-size: 20px;
	font-weight: normal;
	color:#000;
	margin:20px 0;
}

.services .content .box .inner p{
	font-size:15px;
	color:#444444;
	line-height:24px;
}


/*responsive*/

@media(max-width: 767px){
	.services .content .box {
    width:100%;
    
}
}

/* ---------------------------------------------------------- */


